.canvas-container{
  height: 80vh;
  width: 100vw;
  margin-bottom: 0;
}

.buttons > a{
  margin-bottom: 10px;
}

.loca{
  display: inline;
}

.dashboard{
  margin-top: 0;
  margin-bottom: 0;
}

input[type=range] + .thumb {
  background-color: purple;
}

#canvas{
  height: 100%;
  width: 80%;
}
